mac/build
mac/carve.build
mac/CMakeFiles
mac/common/carve.build
mac/external/GLOOP/carve.build
mac/external/GLOOP/Debug
mac/lib/carve.build/Debug/carve.build
mac/src/carve.build
mac/lib/Debug
mac/src/Debug
mac/tests/carve.build
mac/tests/Debug
ios/build
ios/carve.build
ios/CMakeFiles
ios/common/carve.build
ios/common/Debug-iphoneos
ios/lib/carve.build
ios/lib/Debug-iphoneos
mac/common/Debug
mac/tests/CMakeScripts
ios/tests/CMakeScripts
